!!!
%html
  %head
    %title PingPong
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    =# javascript_include_tag :cocoon

  %body
    .container
      %nav.navbar.navbar-expand-md.navbar-light.bg-transparent
        %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        = link_to root_path, class: "navbar-brand" do
          %img.bat-logo{:src => "/ping-pong.svg", :alt => ""}/
          isthepingpongroomfree.com
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            - if user_signed_in?
              %li.nav-item.active
                = link_to('Pong Stats', matches_path, class: 'nav-link')
              %li.nav-item.active
                = link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link')
            - else
              %li.nav-item.active
                = link_to('Login', new_user_session_path, class: 'nav-link')
              %li.nav-item.active
                = link_to('Register', new_user_registration_path, class: 'nav-link')
    .container
      = yield